<div style="width:800px; margin:0 auto;">
   <div class="row ">
       <div class="col-xl-3 col-lg-6">
           <div class="card l-bg-green-dark">
               <div class="card-statistic-3 p-4">
                   <div class="card-icon card-icon-large" ><i class="fas fa-ticket-alt"></i></div>
                   <div class="mb-4">
                       <h2 class="card-title mb-0">Welcome to Customer Portal</h2>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<router-outlet></router-outlet>
<!-- <app-customer-list></app-customer-list> -->
