<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<br>
<br>
<br>
<br>
<div style="width:800px; margin:0 auto;">
  <div class="row ">
      <div class="col-xl-3 col-lg-6">
          <div class="card l-bg-green-dark">
              <div class="card-statistic-3 p-4">
                  <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                  <div class="mb-4">
                      <h5 class="card-title mb-0">List Of All Admins</h5>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>


<div class='search-options'>
  <div>
    <label for="Search" >Search: &nbsp; </label>
    <input type="text" style="border-radius: 12px;">
  </div>
  <div>
    <select name="sortby" id="sortby" style="border-radius: 12px;">
      <option value="sortby" selected>Sort By</option>
      <option value="Name">Name</option>
      <option value="Age">Age</option>
      <option value="Gender">Gender</option>
    </select>
  </div>
</div>
<div class="card" style="width: 1100px; height: auto; margin-top: 40px;">
  <div class="card-body">
    <div style="text-align: center; color:rgb(8, 85, 5); font-weight: bold; ">
      <p>ADMIN LIST</p>
    </div>
    <div class="table-responsive" id="proTeamScroll" tabindex="2"
      style="height: 400px;overflow: hidden; outline: none;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Admin Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Edit</th>
            <th>Delete</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-img">
              1
            </td>
            <td>
              <p class="m-0 font-12">
                nanny
              </p>
            </td>
            <td>
              <p class="m-0 font-12">
                990990990
              </p>
            </td>
            <td>
              <p class="m-0 font-12">
                abc@gmail.com
              </p>
            </td>
            <td>
              <p class="m-0 font-12">
               34
              </p>
            </td>
            <td>
              <p class="m-0 font-12">
                Female
              </p>
            </td>
            <td>
              <button class='btn btn-primary'>
                Edit
              </button>
            </td>
            <td>
              <button class='btn btn-danger'>
                Delete
              </button>
            </td>

          </tr>
          <tr>
            <td class="table-img">
              1
            </td>
            <td>
              <p class="m-0 font-12">
              shin
              </p>
            </td>
            <td>
              <p class="m-0 font-12">
                990990990
              </p>
            </td>
            <td>
              <p class="m-0 font-12">
                abc@gmail.com
              </p>
            </td>
            <td>
              <p class="m-0 font-12">
               34
              </p>
            </td>
            <td>
              <p class="m-0 font-12">
                Male
              </p>
            </td>
            <td>
              <button class='btn btn-primary'>
                Edit
              </button>
            </td>
            <td>
              <button class='btn btn-danger'>
                Delete
              </button>
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>