<div class="container">
    <div class="row">

        <div class="col-md-10">
            <div class="p-3 py-5">
                <div style="width:500px; margin:0 auto;">
                    <div class="row ">
                        <div class="col-xl-3 col-lg-6">
                            <div class="card l-bg-green-dark">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">Admin Profile</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Username</label><input type="text" class="form-control"
                            placeholder="Username" value="">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Password</label><input type="text" class="form-control"
                            placeholder="Password" value="">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Phone Number</label><input type="text"
                            class="form-control" placeholder="Phone Number" value="">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control"
                            placeholder="Email ID" value="">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Age</label><input type="text" class="form-control"
                            placeholder="Age" value="">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Gender</label>
                        <select class="form-control" id="drop-down">
                            <option class="hidden" selected disabled>Please select your Gender
                            </option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                        </select>
                    </div>
                </div>

                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="button">Update Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>