<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   
    <title>Nominee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header d-flex justify-content-between align-items-center">
                    <div style="color: green;">
                        <i class="fas fa-user-alt"></i> List of All Nominees
                      </div>
                      <button type="button" class="btn btn-sm btn-primary" style="margin-left: 650px;;width:105px;height: 50px;border-radius: 15px;">Add Nominee</button>
                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive" id="proTeamScroll" tabindex="2" style="height: 300px; overflow: hidden; outline: none;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Name</th>
                                <th>Govt ID</th>
                                <th>Phone No.</th>
                                <th>Relation</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >1.
                                </td>
                                <td>
                                    <h6 class="mb-0 font-13">Nominee 1</h6>
                                </td>
                                <td>7441662509</td>
                                <td>9884621676</td>
                                <td>
                                    <div class="badge-outline col-red">Father</div>
                                </td>
                                
                                <td>
                                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td >2.
                                </td>
                                <td>
                                    <h6 class="mb-0 font-13">Nominee 2</h6>
                                </td>
                                <td>EGXPR94R</td>
                                <td>9474666565</td>
                                <td>
                                    <div class="badge-outline col-green">Mother</div>
                                </td>
                                
                                <td>
                                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td >3.
                                </td>
                                <td>
                                    <h6 class="mb-0 font-13">Nominee 3</h6>
                                </td>
                                <td>7551889224</td>
                                <td>9846785878</td>
                                <td>
                                    <div class="badge-outline col-blue">Wife</div>
                                </td>
                                
                                <td>
                                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td >4.
                                </td>
                                <td>
                                    <h6 class="mb-0 font-13">Nominee 4</h6>
                                </td>
                                <td>6441885337</td>
                                <td>8105444486</td>
                                <td>
                                    <div class="badge-outline col-red">Brother</div>
                                </td>
                                
                                <td>
                                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td >5.
                                </td>
                                <td>
                                    <h6 class="mb-0 font-13">Nominee 5</h6>
                                </td>
                                <td>FGREW86N</td>
                                <td>9652607856</td>
                                <td>
                                    <div class="badge-outline col-blue">Sister</div>
                                </td>
                               
                                <td>
                                    <a data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                    <a data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<script type="text/javascript">

</script>
</body>
</html>